In [1]:
import os
os.listdir()

['supermarkets.json',
 'pandas_intro.py',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets_notebook.ipynb',
 'supermarkets-commas.txt']

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('supermarkets.csv')
df1.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
df2 = pd.read_json('supermarkets.json')
df2.set_index('ID')

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [5]:
df3 = pd.read_excel('supermarkets.xlsx', sheet_name=0)
df3.set_index('ID')

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df4 = pd.read_csv('supermarkets-commas.txt')
df4.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df5 = pd.read_csv('supermarkets-semi-colons.txt', sep=';')
df5.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [53]:
from geopy.geocoders import Nominatim

In [55]:
nom = Nominatim(user_agent='my_geocoder')

In [67]:
n = nom.geocode('3995 23rd St, San Francisco, CA 94114')

In [70]:
df5['Address'] = df5['Address']+', '+df5['City']+', '+df5['State']+', '+df5['Country']
df5

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [71]:
df5['Coordinates'] = df5['Address'].apply(nom.geocode)
df5

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis..."

In [72]:
df5.Coordinates

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
3    (3995, 23rd Street, Noe Valley, San Francisco,...
4    (1056, Sanchez Street, Noe Valley, San Francis...
5    (551, Alvarado Street, Noe Valley, San Francis...
Name: Coordinates, dtype: object

In [75]:
df5['Latitude'] = df5['Coordinates'].apply(lambda x: x.latitude if x != None else None)
df5['Longitude'] = df5['Coordinates'].apply(lambda x: x.longitude if x != None else None)
df5

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753673,-122.433220